* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.header {
  position: fixed;
  width: 100%;
  background: #222;
  z-index: 10;
}
.header .navbar-brand {
  font-weight: 900;
}
.header .navbar {
  margin: 0;
  border: none;
}

body {
  margin: 0;
  height: 100%
}

.page-section {
  width: 100%;
  min-height: 750px;
  padding: 50px 0;
}
.page-section h1 {
  font-size: 4em;
  margin: 50px 0;
  color: #fff;
}
.page-section h1 span {
  font-weight: 200;
}
.page-section h2 {
  font-size: 3em;
  font-weight: 900;
  color: #fff;
  margin: 0 0 30px;
  text-shadow: 2px 2px 2px #000;
}
.page-section p {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 25% 20px 0;
}
.page-section p.lead {
  font-size: 1.8em;
}
.page-section p.caption {
  color: #fff;
  padding: 20px;
  background: url(../images/trans_black_25.png);
  text-shadow: 1px 1px 1px #000;
}
.page-section.intro {
  background: url(../images/group.jpg) bottom center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-color: black;

}
}

.page-section#slate {
  background: url(../images/abouttrubu.jpg) bottom center no-repeat;
}

.page-section#slate {
/*  background: url(../images/abouttrubu.jpg) bottom center no-repeat;
*/    background-color: black;

}

#slate{
  color: #fff;
  font-weight: 100;
}

.slate-text{
  text-align: center;
  font-size: 24px;
}

a>img{
  cursor: pointer;
  cursor: hand;
  opacity: .8;
}

a>img:hover {
  opacity: 1;
}

.modal{
  font-weight: 400;
}

#tap{
  text-align: center;
  margin-top: 10%;
  font-size: 24px;
}

.page-section#abouttrubu {
  background: url(../images/abouttrubu.jpg) bottom center no-repeat;
}

#abouttrubu{
  color: white;
}

.bullet-points{
  font-size: 32px;
  font-weight: 200;
}

.quote{
  font-weight: 100;
  font-size: 40px;
  margin: 15px 0;
  text-align: center;
}

.page-section#videos {
  background: url(../images/videos.jpg) top center no-repeat;
}
.video-frame{
  text-align: center;
}

iframe{

}
.page-section#endorsements {
  background: url(../images/endorsements.jpg) top center no-repeat;
  color: white;
}

.endorsement-text-right{
  text-align: right;
}

.endorsement-section{
  margin-bottom: 30px;
}

#moreEndorsements{
  cursor: pointer;
  cursor: hand;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

.page-section#contactus {
  background: url(../images/contactus.jpg) top center no-repeat;
}
.btn {
  font-weight: 200;
}
.btn-dark {
  background: #444;
  color: #fff;
}
.btn-dark:hover {
  background: #000;
  color: #fff;
}
.back-to-top {
  display: inline-block;
  clear: both;
  background: #fff;
  color: #333;
  padding: 0 10px 5px;
  margin: 20px 0 0;
  text-shadow: none;
}
.back-to-top:hover {
  background: #333;
  color: #fff;
  text-decoration: none;
}
hr {border-color: #ddd;}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    float: left;
}

.modal-body{
  color: black;
}

#myModalLabel{
  color: black;
  text-align: center;
}

@media (max-width: 991px) {
  .col-md-3{
    display: inline-block;
    width: 49%;
  }
  .row{
    width: 100%;
    margin-right: 10%;
  }
  .slate-text{
    display: inline-block;
    text-align: center;
    margin-left: 35px;
  }

  .page-section h1 {
    font-size: 3em;
  }
  .page-section h2 {
    font-size: 2em;
  }
  .page-section p {
    font-size: 1em;
    margin: 0 0 20px;
  }
  img {
    max-width: 200px;
    height: auto;
    width: auto\9;
    margin: 10px;
  }
  #marwa{
    margin:0;
  }
}

@media (min-width: 768px) {
  .header .navbar-brand {
    padding-left: 0;
  }
  .navbar-nav {
    float: right;
  }
  .col-md-3{
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .col-md-3>.slate-text{
    font-size: 16px;
    margin-left: 60px;
  }
  #marwa{
    margin-left: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .page-section h1 {
    font-size: 3em;
  }
  .page-section h2 {
    font-size: 2em;
  }
  .page-section p {
    font-size: 1em;
    margin: 0 0 20px;
  }
  img {
    max-width: 150px;
    height: auto;
    width: auto\9; /* ie8 */
    margin: 10px;
  }
  .col-md-3{
    display: inline-block;
    width: 100%;
    margin: 0;
  }
  .col-md-3>.slate-text{
    font-size: 16px;
    margin: 50px auto 0 30px;
  }
  #marwa{
    margin: 50px auto 0 10px;
  }
}

@media only screen and (max-width: 399px) {
  .page-section h1 {
    font-size: 3em;
  }
  .page-section h2 {
    font-size: 2em;
  }
  .page-section p {
    font-size: 1em;
    margin: 0 0 20px;
  }
  img {
    max-width: 100px;
    height: auto;
    width: auto\9; /* ie8 */
    margin: 10px;
  }
  .col-md-3{
    display: inline-block;
    width: 100%;
    margin: 0;
  }
  .col-md-3>.slate-text{
    font-size: 16px;
    margin: 20px 20px 0 0;
    float: right;
  }
  #marwa{
    margin: 20px 0px 0 0px;
  }
}
