* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.header {
  position: fixed;
  width: 100%;
  background: #222;
  z-index: 10;
}
.header .navbar-brand {
  font-weight: 900;
}
.header .navbar {
  margin: 0;
  border: none;
}

body {
  margin: 0;
  height: 100%
}

.page-section {
  width: 100%;
  min-height: 750px;
  padding: 50px 0;
}
.page-section h1 {
  font-size: 4em;
  margin: 50px 0;
  color: #fff;
}
.page-section h1 span {
  font-weight: 200;
}
.page-section h2 {
  font-size: 3em;
  font-weight: 900;
  color: #fff;
  margin: 0 0 30px;
}
.page-section#endorsements h2 {
  font-size: 3em;
  font-weight: 900;
  color: darkgray;
  margin: 0 0 30px;
}

.page-section p {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 25% 20px 0;
}
.page-section p.lead {
  font-size: 1.8em;
}

.caption {
  color: #575757;
  padding: 10px 15px 20px 40px;
  /* Rectangle 1: */
  background: rgba(255,255,255,0.80);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  border-radius: 10px;
  height: 350px;
}

.intro>.container{
  position: absolute;
  bottom: 100px;
  left: 20%;
}

.intro>.container>h1{
  margin: 0;
  font-size: 108px;
  font-family: 'Lato', sans-serif;
}

.intro>.container>h3{
  margin: -20px 0 0 10px;
  color: white;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.container>h2{
  text-align: center;
}

.page-section.intro {
  background: url(../images/group.jpg) bottom center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.page-section#slate {
  background: url(../images/background.png) bottom center no-repeat;
  background-size:cover;
}

.page-section#slate {
/*  background: url(../images/abouttrubu.jpg) bottom center no-repeat;
*/    background-color: #222;
  min-height: 675px;
}

#slate{
  color: #fff;
  font-weight: 100;
}

.slate-text{
  text-align: center;
  font-size: 24px;
}

.col-md-3>a>img{
  cursor: pointer;
  cursor: hand;
  opacity: 0.8;
}

#main-nav{
  background-color: white;
}

a>img:hover {
  opacity: 1;
}

.modal{
  font-weight: 400;
}

#tap{
  text-align: center;
  margin-top: 5%;
  font-size: 24px;
}

.page-section#abouttrubu {
  background: url(../images/jumping.png) top center;
  min-height: 700px;
}

#abouttrubu{
  color: white;
}

.bullet-points{
  font-size: 32px;
  font-weight: 200;
}

.bullet-points li{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Lato'
  text-shadow: none;
  color: #575757;
}

.caption{
  margin: 0 15px 15px 15px;
  color: #575757;
}

.quote{
  font-weight: 100;
  font-size: 36px;
  margin: 70px 0 0 0;
  text-align: center;
}

.page-section#videos {
/*  background: url(../images/videos.jpg) top center no-repeat;*/
  background-color: #333333;
}
.video-frame{
  text-align: center;
}

iframe{

}
.page-section#endorsements {
/*  background: url(../images/endorsements.jpg) top center no-repeat;
*/
  color: darkgray;
  background-color: white;
  padding: 50px 0 0px 0;
  min-height: 650px;
}

.endorsement-text-right{
  text-align: right;
  display: inline-block;
}

#lindsey1{
  float: right;
  margin-left: 20px;
}

.endorsement-section{
  margin-bottom: 30px;
}

#moreEndorsements{
  cursor: pointer;
  cursor: hand;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

.page-section#contactus {
  background: url(../images/join.png) top center no-repeat;
  min-height: 600px;
  background-size:cover;
  color: white;
  min-height: 600px;
}

#togglenav{
  border-bottom: 1px lightgray solid;
}

.contactus-info{
  color: white;
  text-align: center;
  font-size: 24px;
}

.social-media{
  display: inline-block;
  margin-top: 5%;
}

#joinstaff{
  /* Rectangle 1: */
  margin: 0 auto;
  width: 300px;
  background: rgba(255,255,255,0.50);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  border-radius: 10px;
  color: #575757;
}

#updates{
  /* Rectangle 1: */
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  border-radius: 10px;
  color: #575757;
  margin: 0 5% 20px 5%;
  padding: 10px 10px 10px 10px;
  background: rgba(255,255,255,0.50);
  height: 300px;
}

#fb{
  margin-right: 20px;
}

#upcomingdates{
  /* Rectangle 1: */
  margin: 0 auto;
  background: rgba(255,255,255,0.50);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  border-radius: 10px;
  color: #575757;
  margin: 0 5% 0 5%;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
  height: 300px;
}

.updatetitles{
  font-size: 40px;
}

.schedule{
  margin-top: 10%;
}

#jointeamwrapper{
  margin: 50px auto 20px auto;
}

#jointheteam{
  display: inline;
  background: #008CD3;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  border-radius: 10px;
  color: #fff;
  width: 180px;
  padding: 10px 20px 10px 20px;
}

#jointheteam:hover{
  cursor: pointer;
  cursor: hand;
}

#supporters{
  font-size: 12px;
  margin-top: 100px;
}

.btn {
  font-weight: 200;
}
.btn-dark {
  background: #444;
  color: #fff;
}
.btn-dark:hover {
  background: #000;
  color: #fff;
}
.back-to-top {
  display: inline-block;
  clear: both;
  background: #fff;
  color: #333;
  padding: 0 10px 5px;
  margin: 20px 0 0;
  text-shadow: none;
}
.back-to-top:hover {
  background: #333;
  color: #fff;
  text-decoration: none;
}
hr {border-color: #ddd;}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    float: left;
}

#homelink{
  padding: 0px;
}

.header-nav{
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  max-width: 100%;
}

.navbar{
  width: 100%;
}

.modal-body{
  color: black;
}

#myModalLabel{
  color: black;
  text-align: center;
}

.copyright{
  text-align: center;
  margin: 3% 0 0 0;
}

a:visited{color:#000 !important;}

@media (min-width: 992px){
/*    .caption{
      height: 300px;
    }*/
}

@media (max-width: 991px) {
  .caption{
    height: auto;
  }
  #updates{
    height: 250px;
  }
  .social-media{
    margin-top: 0%;
  }
  .bullet-points>.caption{
    margin: 0 0 0 15px;
  }
  .col-md-3{
    display: inline-block;
    width: 49%;
  }
  .row{
    width: 100%;
    margin-right: 10%;
  }
  .slate-text{
    display: inline-block;
    text-align: center;
    margin-left: 35px;
  }

  .page-section h1 {
    font-size: 3em;
  }
  .page-section h2 {
    font-size: 2em;
  }
  .page-section p {
    font-size: 1em;
    margin: 0 0 20px;
  }
  img {
    max-width: 200px;
    height: auto;
    width: auto\9;
    margin: 10px;
  }
  #marwa{
    margin:0;
  }
  .header-nav{
    max-width: 100%;
  }
  #homelink>img{
    margin: 0;
  }
}

#moreendorsementssoon{
  margin: 60px 0 20px 0;
  text-align: center;
  display: block;
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav>li>a{
    padding-top: 15px;
    font-weight: 400;
    font-size: 18px;
    color: black;
  }

  .navbar-inverse .navbar-nav>li>a:hover{
    color: black;
  }
  .navbar-inverse {
    background-color: #fff;
  }

  .header-nav{
    max-width: 100%;
  }
  .header .navbar-brand {
    padding-left: 0;
  }
  .navbar-nav {
    float: right;
  }
  .col-md-3{
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .col-md-3>.slate-text{
    font-size: 16px;
    margin-left: 60px;
  }
  #marwa{
    margin-left: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .schedule{
    margin-top: 0%;
  }
  .page-section h1 {
    font-size: 3em;
  }
  .page-section h2 {
    font-size: 2em;
  }
  .page-section p {
    font-size: 1em;
    margin: 0 0 20px;
  }
  img {
    max-width: 150px;
    height: auto;
    width: auto\9; /* ie8 */
    margin: 10px;
  }
  .col-md-3{
    display: inline-block;
    width: 100%;
    margin: 0;
  }
  .col-md-3>.slate-text{
    font-size: 16px;
    margin: 50px auto 0 30px;
  }
  #marwa{
    margin: 50px auto 0 10px;
  }
}

@media only screen and (max-width: 399px) {
  .page-section h1 {
    font-size: 3em;
  }
  .page-section h2 {
    font-size: 2em;
  }
  .page-section p {
    font-size: 1em;
    margin: 0 0 20px;
  }
  img {
    max-width: 100px;
    height: auto;
    width: auto\9; /* ie8 */
    margin: 10px;
  }
  .col-md-3{
    display: inline-block;
    width: 100%;
    margin: 0;
  }
  .col-md-3>.slate-text{
    font-size: 16px;
    margin: 20px 20px 0 0;
    float: right;
  }
  #marwa{
    margin: 20px 0px 0 0px;
  }
  .intro>.container{
    bottom: 20px;
    left: 20px;
  }
  .page-section.intro{
    min-height: 550px;
  }
  #updates{
    height: 350px;
    padding: 5px;
  }
  #fb{
    margin: 10px;
  }
  .social-media>a>img{
    width: 48px;
    height: 48px;
  }

  #ig{
    margin-top: 10px;
    margin-left: 2px;
  }

  #upcomingdates{
    height: 400px;
    padding: 10px;
  }
}
